$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: #452816;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  background: tomato;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* imported styles */

@import "./home";








