@font-face {
  font-family: 'Goudy';
  src: url('../fonts/GoudyBookletter1911.ttf') format('truetype');
}

.container-subheader-bar {
  background-color: white;
  width: 100%;
  border: 0;
  background: -webkit-linear-gradient(#fafaf7, #f2f2e8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fafaf7, #f2f1e8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fafaf7, #f2f1e8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fafaf7, #f2f1e8); /* Standard syntax */
}

.subheader-bar {
  min-height: 76px;
  margin-left: 16%;
  position: relative;
}

.subheader-list, .search-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-form {
  right: 16%;
}

.search-form input[type=text] {
  font-size: 12px;
  height: 36px;
  padding-left: 19px;
  padding-right: 19px;
  font-family: "Georgia", sans-serif, serif;
  font-style: italic;
  background-color: #ECECEC;
  border-radius: 18px;
  border-left-style: none;
  border-right-style: none;
  border-width: 0.8px;
}

.search-form input[type=text]::-webkit-input-placeholder {
  color: rgb(161,160,160);
}

.search-form input[type=text]:-ms-input-placeholder {
  color: rgb(161,160,160);
}

.search-form input[type=text]:focus {
  outline: 0;
}

.search-form input[type=submit] {
  font-size: 16px;
  margin-left: 5px;
  color: rgb(255,255,255);
  height: 36px;
  padding-left: 19px;
  padding-right: 19px;
  font-family: "Georgia", sans-serif, serif;
  background-color: #769C5A;
  border-radius: 18px;
  border-left-style: none;
  border-right-style: none;
  border-width: 0.8px;
}

.search-form input[type=submit]:focus {
  outline: 0;
}

.subheader-list {
  font-family: 'Goudy', san-serif, serif;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(180,164,141);
}
