@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot#iefix') format('embedded-opentype'),
  url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-title-page {
  min-height: 163px;
  margin-left: 16%;
  position: relative;
}

.title-page {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
}

.title-page h2 {
  color: white;
  font-family: 'League Gothic', san-serif, serif;
  text-transform: uppercase;
  font-size: 48px;
}

.title-page p {
  font-family: 'Helvetica', san-serif, serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(218,203,167);
  vertical-align: bottom;
}

/*Responsive*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .title-page p {
    margin-right: 10px;
  }

  .title-page h2 {
    font-size: 2.5em;
  }
}
