@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot#iefix') format('embedded-opentype'),
  url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-title-menu {
  min-height: 163px;
  margin-left: 16%;
  display: flex;
  align-items: flex-end;
}

.title-menu {
  margin-bottom: 16px;
}

.title-menu h2 {
  color: white;
  font-family: 'League Gothic', san-serif, serif;
  text-transform: uppercase;
  font-size: 48px;
}

.title-menu p {
  font-family: 'Helvetica', san-serif, serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(218,203,167);
  vertical-align: bottom;
}
