<div id="wrapper" class="wine">

  <header class="header">
    <nav class="main-navbar navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#mycuisine-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../app/images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mycuisine-navbar-collapse">
          <ul class="main-nav nav navbar-nav navbar-right">
            <li>
              <a href="#">Home</a>
              <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Lifestyle</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#">Menu</a>
              <ul>
                <li><a href="#">Dinner</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Breakfast</a></li>
              </ul>
            </li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main class="main">

    <!--title section-->
    <section class="container-title-page container-fluid">
      <div class="title-page">
        <h2>Store Location</h2>
        <p>Post desction text goes right over here</p>
      </div>

    </section>

    <!--subheader bar-->
    <section class="container-subheader-bar container-fluid">
      <div class="subheader-bar">

        <ul class="subheader-list">
          <li class="top">Location</li>
        </ul>

        <form class="search-form pull-right" action="" autocomplete="on">
          <div>
            <input type="text" id="site-search" name="q"
                   placeholder="Search this website..." minlength="4" maxlength="8"/>
            <input id="submit-search" value="Search" type="submit">
            <span class="validity"></span>
          </div>
        </form>

      </div>
    </section>

    <!--location-->
    <section class="container-location container-fluid">
      <div class="row">

        <!--company info-->
        <div class="company-info col-sm-12 col-md-4 col-lg-5">

          <div class="row">

            <section class="address col-xs-4 col-sm-4 col-md-12">
              <h3 class="address-title">Address</h3>
              <address>
                3324 Sunny Drive Street<br/>
                Some City CA, 33423
              </address>
            </section>

            <section class="hours-of-operation col-xs-4 col-sm-4 col-md-12">
              <h3 class="hours-of-operation-title">Hours of operation</h3>
              <p class="work-hours"><span class="mon-fri">Monday-Friday: </span>8am-6pm<span class="sat-sun">
              Saturday-Sunday: </span>8am-10pm
              </p>
            </section>

            <section class="contact-info col-xs-4 col-sm-4 col-md-12">
              <h3 class="contact-info-title">Contact info</h3>
              <p class="email"><span class="email-address">Email Address: </span>info@mycuisine.com<span
                class="telephone">
              Telephone: </span>754-234-6643<span class="fax">
              Fax: </span>343-664-2234
              </p>
            </section>

          </div>

        </div>

        <!--location map-->
        <aside class="map col-sm-12 col-md-8 col-lg-7">
          <img class="location-image img pull-right"
               src="https://maps.googleapis.com/maps/api/staticmap?center=Telerik+Academy&zoom=17&size=601x413&key=AIzaSyAoNUkQubgikLSOlKt5IeOMopLG9MLwJdM"
               alt="location"/>
        </aside>

      </div> <!--row-->
    </section>

  </main>

  <section class="container-content-bottom container">
    <div class="row">
      <div class="brand-info col-md-4">
        <a class="brand" href="#"><img src="../app/images/logo-footer.png" alt="logo"></a>
        <p class="copyright">
          &copy;My CuisineTheme, 2017
        </p>
        <p class="info">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
          repellendus.
        </p>
      </div>
      <div class="recent-comments col-md-4">
        <h3 class="recent-comments-title">Recent comments</h3>
        <ul class="recent-comments-list">
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
        </ul>
      </div>
      <div class="recent-posts col-md-4">
        <h3 class="recent-posts-title">Recent posts</h3>
        <ul class="recent-posts-list">
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="footer footer-home container-fluid">

    <nav class="footer-navbar navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Awards</a></li>
      </ul>
    </nav>

    <p>Designed by <strong>ElegantThemes</strong> - Powered by <strong>Node.js</strong></p>

  </footer>

</div>
