<h2>Welcome to <strong>Melody Underdog</strong></h2>
<p>This is not an app for popular music videos</p>
<ul>
  <li>Here you can share links to old, underrated and forgotten songs</li>
  <li>Only links to <a href="https://www.youtube.com/" target="_blank">YouTube</a> videos with fewer views, likes, or older upload dates can be added</li>
  <li>Up to 1000000 views, or up to 1000 likes</li>
  <li>The songs' <span class="label label-info">Underdog</span> status is then evaluated, and it serves as a modifier for their new rating</li>
  <li>You have 5 stars to award each day, stars given are multiplied by the <span class="label label-info">Underdog</span> modifier</li>
  <li>In a way, this app helps raise popularity of good but less known songs</li>
  <li>Have fun! Thanks...</li>
  <li>This app was created only for educational purpose</li>
</ul>
