<main class="main">

  <!--title section-->
  <section class="container-title-page container-fluid">
    <div class="title-page">
      <h2>Post title goes here</h2>
      <p>Posted by Admin in Some Category on March 13, 2010 | 30 Comments</p>
    </div>

  </section>

  <!--subheader bar-->
  <section class="container-subheader-bar container-fluid">
    <div class="subheader-bar">

      <ul class="subheader-list">
        <li class="top">Home</li>
        <li class="category">Category</li>
        <li class="post active">Post title goes here</li>
      </ul>

      <form class="search-form pull-right" action="" autocomplete="on">
        <div>
          <input type="text" id="site-search" name="q"
                 placeholder="Search this website..." minlength="4" maxlength="8"/>
          <input id="submit-search" value="Search" type="submit">
          <span class="validity"></span>
        </div>
      </form>

    </div>
  </section>

  <!--posts-->
  <section class="container-posts container-fluid">
    <div class="row">

      <div class="post col-md-9 col-sm-9">
        <div class="container-post">
          <div class="post-img pull-left">
            <img class="img-thumbnail" src="../images/post-placeholder.jpeg" alt="post image"/>
          </div>
          <p class="post-content">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi
            amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
            desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot
            green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water
            chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts
            nori
            azuki bean chickweed potato bell pepper artichoke.

            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed
            pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter
            purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama
            salsify.

            Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery
            bitterleaf
            wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels
            sprout
            chard.

            Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean
            mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea.
            Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander
            yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring
            onion
            azuki bean gourd. Gumbo kakadu plum komatsuna black-eyed pea green bean zucchini gourd winter purslane
            silver beet rock melon radish asparagus spinach.
          </p>
        </div>

        <div class="container-comments">
          <h3 class="comments-title"><span class="comment-count">30</span> comments</h3>
          <ul class="comments-list">
            <li class="comments-list-item">
              <div class="row">

                <div class="thumbnail-and-date col-md-2 col-sm-2">
                  <img class="img-thumbnail" src="../images/user-avatar.png" alt="author image"/>
                  <time datetime="2017-10-08">10-08-2017</time>
                </div>

                <div class="col author-and-content col-md-10 col-sm-10">
                  <img class="comment-arrow" src="../images/arrow-comment.png" alt="comment arrow">
                  <h3 class="comment-author"><span class="author-name">Nick Roach</span> says: </h3>
                  <p class="comment-content">Celery quandong swiss chard chicory earthnut pea potato. Salsify taro
                    catsear
                    garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot
                    horseradish carrot squash brussels
                    sprout chard. Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra
                    azuki bean
                    corn fava bean
                    mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo
                    black-eyed
                    pea.
                    Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane
                    coriander
                    yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato
                    spring
                    onion
                  </p>
                  <button class="btn-search-comments">Search</button>
                </div>

              </div> <!--row-->
            </li>

            <li class="comments-list-item">
              <div class="row">

                <div class="thumbnail-and-date col-md-2">
                  <img class="img-thumbnail" src="../images/user-avatar.png" alt="author image"/>
                  <time datetime="2017-10-08">10-08-2017</time>
                </div>

                <div class="col author-and-content col-md-10">
                  <img class="comment-arrow" src="../images/arrow-comment.png" alt="comment arrow">
                  <h3 class="comment-author"><span class="author-name">Nick Roach</span> says: </h3>
                  <p class="comment-content">Celery quandong swiss chard chicory earthnut pea potato. Salsify taro
                    catsear
                    garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot
                    horseradish carrot squash brussels
                    sprout chard. Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra
                    azuki bean
                    corn fava bean
                    mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo
                    black-eyed
                    pea.
                    Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane
                    coriander
                    yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato
                    spring
                    onion
                  </p>
                  <button class="btn-search-comments">Search</button>
                </div>

              </div> <!--row-->
            </li>

          </ul>

          <h3 class="leave-a-comment">Leave a comment</h3>
          <label>
            <textarea class="textarea-comment" name="textarea-comment" rows="10" cols="50"></textarea>
          </label>

        </div>


      </div>

      <aside class="recent col-md-3 col-sm-3">
        <div class="recent-posts">
          <h3 class="recent-posts-title">Recent posts</h3>

          <div class="container-recent-posts">
            <ul class="recent-posts-list">
              <li class="recent-posts-item">
                <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
              </li>
              <li class="recent-posts-item">
                <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
              </li>
              <li class="recent-posts-item">
                <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
              </li>
              <li class="recent-posts-item">
                <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
              </li>
            </ul>
          </div>
        </div>
      </aside>

    </div>
  </section>

</main>

<section class="container-content-bottom container">
  <div class="row">
    <div class="brand-info col-md-4">
      <a class="brand" href="#"><img src="../images/logo-footer.png" alt="logo"></a>
      <p class="copyright">
        &copy;My CuisineTheme, 2017
      </p>
      <p class="info">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
        repellendus.
      </p>
    </div>
    <div class="recent-comments col-md-4">
      <h3 class="recent-comments-title">Recent comments</h3>
      <ul class="recent-comments-list">
        <li class="recent-comments-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-comments-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-comments-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-comments-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
      </ul>
    </div>
    <div class="recent-posts col-md-4">
      <h3 class="recent-posts-title">Recent posts</h3>
      <ul class="recent-posts-list">
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
      </ul>
    </div>
  </div>
</section>
