<form id="register-user-form" class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="tb-reg-username">Username</label>
    <input id="tb-reg-username" type="text" class="form-control" name="username"
           data-bv-notempty="true"
           data-bv-notempty-message="The username is required and cannot be empty"

           data-bv-stringlength="true"
           data-bv-stringlength-min="6"
           data-bv-stringlength-max="30"
           data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long"

           data-bv-regexp="true"
           data-bv-regexp-regexp="^[a-zA-Z0-9]+$"
           data-bv-regexp-message="The username can only consist of alphabetical and number"

           data-bv-different="true"
           data-bv-different-field="password"
           data-bv-different-message="The username and password cannot be the same as each other" />

    <label class="control-label" for="tb-reg-pass">Password</label>
    <input id="tb-reg-pass" type="password" class="form-control" name="password"
           data-bv-notempty="true"
           data-bv-notempty-message="The password is required and cannot be empty"

           data-bv-stringlength="true"
           data-bv-stringlength-min="5"
           data-bv-stringlength-message="The password must have at least 5 characters"

           data-bv-different="true"
           data-bv-different-field="username"
           data-bv-different-message="The password cannot be the same as username" />
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
      <button id="btn-register" type="submit" class="btn btn-default btn-block">Register</button>
    </div>
  </div>

</form>
