<div id="wrapper" class="wine">

  <header class="header">
    <nav class="main-navbar navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#mycuisine-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mycuisine-navbar-collapse">
          <ul class="main-nav nav navbar-nav navbar-right">
            <li>
              <a href="#">Home</a>
              <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Lifestyle</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#">Menu</a>
              <ul>
                <li><a href="#">Dinner</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Breakfast</a></li>
              </ul>
            </li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main class="main">

    <!--title menu-->
    <section class="container-title-menu container-fluid">


    </section>

    <!--subheader bar-->
    <section class="container-subheader-bar container-fluid">

    </section>

    <!--content menu-->
    <section class="container-content-menu container">

      <div class="row">

        <div class="menu-item appetizers col-md-4">

        </div>

        <div class="menu-item main-courses col-md-4">

        </div>

        <div class="menu-item desserts col-md-4">

        </div>

      </div> <!--row-->

    </section>

  </main>

  <footer class="footer footer-home container-fluid">

    <!--footer home-->
    <button>Click Here To Browse The Menu</button>

    <img src="../images/ornament-in-footer.png" alt="decoration">

    <nav class="footer-navbar navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Awards</a></li>
      </ul>
    </nav>

    <p>Designed by <strong>ElegantThemes</strong> - Powered by <strong>Wordpress</strong></p>

  </footer>

</div>
