<div id="wrapper">

  <header class="header">
    <nav class="main-navbar navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#mycuisine-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mycuisine-navbar-collapse">
          <ul class="main-nav nav navbar-nav navbar-right">
            <li>
              <a href="#">Home</a>
              <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Lifestyle</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#">Menu</a>
              <ul>
                <li><a href="#">Dinner</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Breakfast</a></li>
              </ul>
            </li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main class="main">

    <!--slider-->
    <section class="main-slider-container container-fluid">
      <div id="main-slider" class="carousel slide" data-ride="carousel">

        <div class="slider-nav">
          <input data-target="#main-slider" type="checkbox" id="c1" name="c1" data-slide-to="0"/>
          <label for="c1"><span></span></label>
          <input data-target="#main-slider" type="checkbox" id="c2" name="c2" data-slide-to="1"/>
          <label for="c2"><span></span></label>
          <input data-target="#main-slider" type="checkbox" id="c3" name="c3" data-slide-to="2"/>
          <label for="c3"><span></span></label>
          <input data-target="#main-slider" type="checkbox" id="c4" name="c4" data-slide-to="3"/>
          <label for="c4"><span></span></label>
          <input data-target="#main-slider" type="checkbox" id="c5" name="c5" data-slide-to="4"/>
          <label for="c5"><span></span></label>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            Some Slide 1
          </div>

          <div class="item">
            Some Slide 2
          </div>

          <div class="item">
            Some Slide 3
          </div>
        </div>
      </div>
    </section>

    <!--company slogan-->
    <section class="company-slogan">


    </section>

  </main>

  <footer class="footer">
    <!--Debugging, remove-->
    <span class="visible-xs">SIZE XS</span><span class="visible-sm">SIZE SM</span><span
    class="visible-md">SIZE MD</span><span class="visible-lg">SIZE LG</span>
  </footer>

</div>
