<div id="wrapper" class="wine">

  <header class="header">
    <nav class="main-navbar navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#mycuisine-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mycuisine-navbar-collapse">
          <ul class="main-nav nav navbar-nav navbar-right">
            <li>
              <a href="#">Home</a>
              <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Lifestyle</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#">Menu</a>
              <ul>
                <li><a href="#">Dinner</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Breakfast</a></li>
              </ul>
            </li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main class="main">

    <!--title section-->
    <section class="container-title-page container-fluid">
      <div class="title-page">
        <h2>Post title goes here</h2>
        <p>Posted by Admin in Some Category on March 13, 2010 | 30 Comments</p>
      </div>

    </section>

    <!--subheader bar-->
    <section class="container-subheader-bar container-fluid">
      <div class="subheader-bar">

        <ul class="subheader-list">
          <li class="top">Home</li>
          <li class="category">Category</li>
          <li class="post active">Post title goes here</li>
        </ul>

        <form class="search-form pull-right" action="" autocomplete="on">
          <div>
            <input type="text" id="site-search" name="q"
                   placeholder="Search this website..." minlength="4" maxlength="8"/>
            <input id="submit-search" value="Search" type="submit">
            <span class="validity"></span>
          </div>
        </form>

      </div>
    </section>

    <!--posts-->
    <section class="container-posts container-fluid">
      <div class="row">

        <div class="post col-md-9">
          <div class="post-img pull-left">
            <img class="img-thumbnail" src="../images/post-placeholder.jpeg" alt="post image"/>
          </div>
          <p class="post-content">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi
            amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
            desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot
            green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water
            chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori
            azuki bean chickweed potato bell pepper artichoke.

            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed
            pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter
            purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama
            salsify.

            Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf
            wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout
            chard.

            Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean
            mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea.
            Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander
            yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion
            azuki bean gourd. Gumbo kakadu plum komatsuna black-eyed pea green bean zucchini gourd winter purslane
            silver beet rock melon radish asparagus spinach.
          </p>
        </div>

        <aside class="recent col-md-3">
          <div class="recent-comments">
            <h3 class="recent-comments-title">Recent posts</h3>

            <div class="container-recent-posts">
              <ul class="recent-comments-list">
                <li class="recent-comments-item">
                  <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
                </li>
                <li class="recent-comments-item">
                  <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
                </li>
                <li class="recent-comments-item">
                  <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
                </li>
                <li class="recent-comments-item">
                  <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
                </li>
              </ul>
            </div>
          </div>
        </aside>

      </div>
    </section>

  </main>

  <section class="container-content-bottom container">
    <div class="row">
      <div class="brand-info col-md-4">
        <a class="brand" href="#"><img src="../images/logo-footer.png" alt="logo"></a>
        <p class="copyright">
          &copy;My CuisineTheme, 2017
        </p>
        <p class="info">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
          repellendus.
        </p>
      </div>
      <div class="recent-comments col-md-4">
        <h3 class="recent-comments-title">Recent comments</h3>
        <ul class="recent-comments-list">
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-comments-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
        </ul>
      </div>
      <div class="recent-posts col-md-4">
        <h3 class="recent-posts-title">Recent posts</h3>
        <ul class="recent-posts-list">
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
          <li class="recent-posts-item">
            <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="footer footer-home container-fluid">

    <nav class="footer-navbar navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Awards</a></li>
      </ul>
    </nav>

    <p>Designed by <strong>ElegantThemes</strong> - Powered by <strong>Wordpress</strong></p>

  </footer>

</div>
